<div style="text-align:center">
    <h1 id="title">
        トラれぽ　路線制作ページ
    </h1>
</div>
<!--スプリットデザイン参考はhttps://webdesignday.jp/inspiration/technique/css/3962/-->
<div class="main">
    <div class="main-left">
        <div id="div1" onContextmenu="return false;"></div>
    </div>
    <div class="main-right">
        <div *ngIf="route==null" id="routeIsNull">
            路線が選択されていません。
        </div>
        <div *ngIf="route!=null" id="editRoute">
            <h2 id="stationName">{{route.name}} の編集</h2>
            <div>
                <div>
                    <label>路線ID:
                        <input type="text"  disabled [value]="route.id"/>
                    </label>
                </div>

                <div>
                    <label>路線名:
                        <input type="text" [(ngModel)]="route.name" placeholder="name"/>
                    </label>
                </div>
                <div>
                    <label>路線タイプ:
                        <select [(ngModel)]="route.routeType">
                            <option value="0">高速鉄道</option>
                            <option value="1">鉄道</option>
                            <option value="2">地下鉄</option>
                            <option value="3">市電</option>
                            <option value="4">ケーブルカー</option>
                            <option value="5">ロープウェイ</option>
                            <option value="6">高速バス</option>
                            <option value="7">路線バス</option>
                            <option value="8">コミュニティバス</option>
                            <option value="9">航路</option>
                            <option value="10">渡し舟</option>
                            <option value="11">空路</option>
                            <option value="12">その他</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>路線ナンバリング:
                        <input type="text" [(ngModel)]="route.routeNo" />
                    </label>
                </div>
                <div>
                    <label>路線説明:
                        <input type="text" [(ngModel)]="route.description" />
                    </label>
                </div>
            </div>
            <h3>停車駅の設定</h3>
            <svg id="stations" class="fs-station-railmap" [attr.height]="56*stationData.length+60" (mousemove)="railmapMouseMove($event)">
                <g *ngFor="let station of stationData.slice(0,stationData.length-1)">
                    <line class="fs-railmap-line" [attr.x1]="44" [attr.x2]="44" [attr.y1]="station.y1" [attr.y2]="station.y2"></line>
                </g>
                <g *ngFor="let station of stationData">
                    <text class="fs-railmap-station" x="64" [attr.y]="station.y1+4">{{station.station.name}}</text>
                    <circle class="fs-railmap-circle" cx="44" [attr.cy]="station.y1" r="12"></circle>
                    <text class="fs-railmap-tracks" x="44" [attr.y]="station.y1+4"></text>
                </g>
                <g *ngIf="showInsertStation" (click)="addStation()" class="fs-railmap-insert" [attr.transform]="transformY()">
                    <line x1="0" x2="300" y1="0.5" y2="0" stroke-dasharray="2 1"></line>
                    <circle  cx="44" cy="0" r="8"></circle><path d="M44 -4 l0 8m-4 -4l 8 0"></path>
                </g>
            </svg>
        </div>
    </div>
</div>
<div>
    <h3>開発者メモ</h3>
</div>

